<div class="container container-ben">
  <%= simple_form_for @cocktail do |f| %>
  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <%= f.input :photo, as: :file %>
  </div>
  <h3>Ingredients</h3>
  <div id="ingredients">
    <%= f.fields_for :doses do |dose| %>
      <%= render 'dose_fields', f: dose %>
    <% end %>
    <div id="doses">
      <%= link_to_add_association 'add dose', f, :doses %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
</div>
